<div class="container home-container">
  <div class="row">
    <div class="span12">
         <h1>Paul Kelly - Technology Geek - Hobbyist Photographer - Lover Of All Things Triathlon</h1>
        <div id="menu" class="btn-group">
             <a id="technology" class="btn btn-large" href="http://peekay.info/technology">
               Technology
             </a>
             <a id="training" class="btn btn-large" href="http://peekay.info/training">
               Triathlon
             </a>
             <a id="photography" class="btn btn-large" href="http://peekay.info/photography">
               Photography
             </a>
        </div>
    </div>
  </div>

</div>



